@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Amatic+SC|Satisfy|Covered+By+Your+Grace');

body{
  background-image: url("Images/Background/Cheese Background.jpg");
}

input{
  border-right: solid blue 2px;
  background: #eef7fa;
  text-align: center;
  font-family: Dancing Script;  
  margin: 5px;
}

button{
  color: #138808;
  background-color: #ffffcc;
  font-size: 13px;
  border: 2px dashed  #00b300;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 150px;
  padding-left: 12px;
  padding-right: 12px;
}

#texto{
  text-align: center;
  font-family: Covered By Your Grace;
  color: black;
  font-size: 150%;
  background-color: rgba(255,182,193,0.8);
}

#title{
  text-align: center;
  text-decoration: underline;
  font-family: Indie Flower;
  font-style: italic;
  color: black;
  font-size: 250%;
  background-color: rgba(255,182,193,0.6);
}

#canvas{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#con{
  position:fixed;
  bottom:10px;
  background-image: url("Images/Background/Blue Background.jpg");
  padding: 12px;
}